body {
  background-color: #76b295;

}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
.header-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
  opacity: 0.3
  ;

}